{{timble.protocol}}

{{helloTimble}}

{{#from "index.json"}}
  <h1>{{title}}</h1>
  <h2>{{subTitle}}</h2>
{{/from}}

{{#from "list.yaml"}}
  <ul>
    {{#each awesomePoints as |point|}}
      <li>{{point}}</li>
    {{/each}}
  </ul>
{{/from}}

{{{from "rich-content.md"}}}

{{{script "example-script.js"}}}